.nav-brand{
    font-size: 2rem;
}

.nav-link{
    font-size: 1rem;
}

.input-group-text{
    font-size: inherit;
}

.dropdown-toggle{
    font-size:inherit;
}

.dropdown-item-text{
    font-size:inherit;
}